<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <table>
        <% name.forEach(function(item){ %>
        <tr>
        <td><%=item.name%></td>
        <td><%=item.password%></td>
        <td><%=item.phone%></td>
        <td><%=item.weight%></td>
        <!-- <td><%=item.ph%></td> -->


        </tr>
        <% }) %>
        </table>
<a href="/reg">see your registered patient</a>


        <h4>add patient</h4>
        <form action="/new" method="post">
            <h4>enter patient number</h4>
            <input type="number" name="nu">
            <input type="text" name="message">
            <button type="submit"></button>
        </form>

    
</body>
</html>